<div ng-controller="NotebookcreateCtrl">
  <center class = 'navbar note'>
      <form class = "form-inline center-block" name = "noteBookCreateForm" ng-submit = "noteBookCreateForm.$valid && addNoteBook()" novalidate>
          <div class="form-group">
              <small>CREATE NOTEBOOK</small>
              <input type='text' ng-model='notebook.name' name='notebook.name' class='form-control' placeholder="notebook name" validation-no-special-chars="true" required>
          </div>
           <div class="form-group">
              <small>DESCRIPTION</small>
              <input type='text' ng-model='notebook.description' name='notebook.description' class='form-control' placeholder="description">
          </div>
              <small>NOTEBOOK</small>
          <button class='btn btn-primary' type='submit' ng-disabled="noteBookCreateForm.$invalid">
                        <span class="glyphicon glyphicon-send"></span>
          </button>
      </form>
  </center>
</div>
