<div ng-controller="NotecreateCtrl">
  <center class = 'navbar note'>
      <form class = "form-inline center-block" name = "noteCreateForm" ng-submit = "noteCreateForm.$valid && addNote()" novalidate>
          <div class="form-group">
              <small>NEW NOTE</small>
              <input type='text' ng-model='note.name' name='name' class='form-control' placeholder="note name" validation-no-special-chars="true" required>
          </div>
          <div class="form-group">
              <small>URL</small>
              <input type='url' ng-model='note.url' name='url' class='form-control' placeholder="http://" required>
          </div>
          <div class="form-group">
              <small>COMMENT</small>
              <input type='text' ng-model='note.comments' name='comment' class='form-control' placeholder="first comment">
           </div>
           <div class="form-group">
              <small>TAG</small>
              <input type='text' ng-model='note.tags' name='tag' class='form-control' placeholder="first tag">
          </div>
          <div ng-controller = "DropdownCtrl" class = "form-group pull-right">
              <small>NOTEBOOK</small>
              <select class="form-control" ng-model = 'note.notebook' ng-options = "notebook.name for notebook in notebooks" required>
                    <!--   <option>Javascript Fundamentals</option> 
                      <option>Javascript Frameworks</option> 
                      <option>HTML + CSS</option> 
                      <option>Backend</option>
                      <option>Command Line</option> 
                      <option>Database</option> 
                      <option>Data Visualization</option> 
                      <option>Testing + Deployment</option>  -->     
              </select>
         
              <button class='btn btn-primary pull-right' type='submit' ng-disabled="noteCreateForm.$invalid">
                        <span class="glyphicon glyphicon-send"></span>
              </button>
           </div>
      </form>
  </center>
</div>


