<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                    <small>{{item.subtitle}}</small>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
                    <a href="/admin">Admin</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/users')}">
                    <a class="btn btn-info btn-small pull-left" href="/users" >
                        My Profile  <span class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/note')}">
                    <a class="btn btn-primary btn-small pull-left" href="/note" >
                        All Notes   <span class="glyphicon glyphicon-file"></span>
                    </a>
                </li>

                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">
                    <a href="/signup">Sign up</a>
                </li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
                    <a href="/login">Login</a>
                </li>

            <div class="pull-right">
                <li ng-show="isLoggedIn()" class="navbar-text">Hello {{ getCurrentUser().name }}!</li>

                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                    <a href="/settings">
                            <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a>
                </li>
            </div>
            </ul>
        </div>
        <br>
        <center ng-show="isLogginIn()">Thanks for using Note_ify since {{getCurrentUser().dateJoined | date: 'medium' }}!</center>
    </div>
</div>