

<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle " type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="fa fa-align-justify fa-2x"></span>
            </button>
        </div>

        <h1 class="center-text">note_ify</h1>
        <h4 class="center-text">Read. Save. Rate. Share.
        </h4>
     

        <div collapse="isCollapsed" class="navbar-collapse collapse center-text center-block" id="navbar-main">
            
            <ul class="nav nav-pills">
                <li ng-show="isLoggedIn()"> <a href="/" class = "btn btn-small btn-info"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                 <li ng-hide="isLoggedIn()">
                    <a href="/signup">signup</a>
                </li>
                <li ng-hide="isLoggedIn()">
                    <a href="/login">login</a>
                </li>
               
                <li ng-show="isLoggedIn()"><a class="btn btn-warning btn-small" href="/users" ><span class="glyphicon glyphicon-user"></span></a>
                </li>
                 <li ng-show="isLoggedIn()"><a href="/note" class = "btn btn-primary btn-small"><span class="glyphicon glyphicon-file"></span></a>
                </li>
                   <li ng-show="isLoggedIn()"><a href="" ng-click="logout()" class = "btn btn-danger btn-small"><span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


