<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   <!--    <a href="/" class="navbar-brand">notify</a> -->
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
            <small>{{item.subtitle}}</small>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
      <!--   <li> <a>
              <input  placeholder = "search">
              <button class="btn btn-inverse" class = "pull-right">
                    <span class="glyphicon glyphicon-search"></span>
               </button>
             </a>
        </li> -->
        <div class = "col-lg-2 col-md-2">
          <a class="btn btn-danger pull-left" href = "/note">
            All Notes   <span class="glyphicon glyphicon-file"></span>
          </a>
        </div>
        <div class = "pull-right">
        <li ng-show="isLoggedIn()" class="navbar-text"> Hello {{ getCurrentUser().name }}!</li>

        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
        </div>
      </ul>
    </div>
    <br>
    <center>Thanks for using Note_ify since {{getCurrentUser().dateJoined | date: 'medium' }}!</center>
  </div>
</div>
