//GLOBAL
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway);

//NAVBAR  + DROPDOWN

.navbar {
    font-family: "Montserrat", Helvetica, sans-serif;
    background-color: #f8f8f8;
}

.navbar-text {
    margin-top: 1%;
}

// .dropdown {
//     background-color: #cff7f2;
// }

// BODY
.text-center {
text-align: center;
}

.clear-right {
clear:right;
}

body{
    font-family: "Raleway", Helvetica, sans-serif;
}
.thing-form {
    margin: 20px 0;
}

ul, li {
    list-style-type: none;
    display: inline;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
//FOOTER
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}