<div class="container">
  <div class="row dropdown">
    <div class="col-lg-8 col-md-8">
      <div class="btn-group pull-left" ng-controller="DropdownCtrl">
          <a class="btn btn-{{item.btn}} dropdown-toggle" type="button" data-toggle="dropdown" ng-repeat="item in dropdownArray" ng-href = "{{item.link}}"ng-class="{active: isActive(item.link)}">
            {{item.title}}
            <span class="caret"></span>
          </a>
          <div>
              <ul class="dropdown-menu" role="menu" >
                  <li ng-repeat="sublink in item.sublinks">
                        <a ng-href="#">{{sublink}}/a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
    <div class = "col-lg-2 col-md-2">
         <a class="btn btn-primary pull-right" type="button" ng-href = "#" >
            Notebook  <span class="glyphicon glyphicon-plus"></span>
          </a>
     </div>
     <div class = "col-lg-2 col-md-2">
          <input class="btn btn-default pull-right" placeholder = "search" >
      </div>
  </div>
</div>


