<div class="container">
  <div class="row dropdown">
    <div class="col-lg-8 col-md-8">
      <div class="btn-group pull-left" ng-controller="DropdownCtrl">
          <a class="btn btn-{{item.btn}} dropdown-toggle" type="button" data-toggle="dropdown" ng-repeat="item in dropdownArray" ng-href = "{{item.link}}"ng-class="{active: isActive(item.link)}">
            {{item.title}}
            <span class="caret"></span>
          </a>
          <div>
              <ul class="dropdown-menu" role="menu" >
                  <li ng-repeat="sublink in item.sublinks">
                        <a ng-href="#">{{sublink}}/a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
    <div class = "col-lg-2 col-md-2">
         <a class="btn btn-primary pull-right" type="button" ng-href = "#" ng-click = 
         "showNoteBookForm = !showNoteBookForm">
            Notebook   <span class="glyphicon glyphicon-plus"></span>
          </a>
     </div>
     <div class = "col-lg-2 col-md-2">
          <a class="btn btn-danger pull-left" href = "/note">
            Note   <span class="glyphicon glyphicon-file"></span>
          </a>
    </div>
    <div ng-show = "showNoteBookForm" ng-controller="NotebookcreateCtrl">
        <center class = 'navbar note'>
            <form class = "form-inline center-block" name = "noteBookCreateForm" ng-submit = "noteBookCreateForm.$valid && addNoteBook()" novalidate>
                  <div class="form-group">
                      <small>CREATE NOTEBOOK</small>
                      <input type='text' ng-model='notebook.name' name='notebook.name' class='form-control' placeholder="notebook name" validation-no-special-chars="true" required>
                  </div>
                  <div class="form-group">
                      <small>DESCRIPTION</small>
                      <input type='text' ng-model='notebook.description' name='notebook.description' class='form-control' placeholder="description">
                  </div>
                      <small>NOTEBOOK</small>
                  <button class='btn btn-primary' type='submit'>
                      <span class="glyphicon glyphicon-send"></span>
                  </button>
              </form>
        </center>
    </div>
  </div>
</div>

<!-- ng-include="'client/app/main/notebookCreate/notebookCreate.html'" -->
